<div class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)" class="navbar-brand" onclick="pjax.loadUrl('/')">Aquamarine Admin Panel</a></li>
    </ul>
</div>