<div class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="javascript:void(0)" class="navbar-brand">Aquamarine Admin - Login</a></li>
    </ul>
    <a href="javascript:void(0)" class="loading" style="display: none;"></a>
</div>