<div class="header">
    <button type="button" class="btn btn-primary" onclick="pjax.loadUrl('/')">Overview (Homepage)</button>
    <button type="button" class="btn btn-primary" onclick="pjax.loadUrl('/accounts')">Account Manager</button>
    <button type="button" class="btn btn-primary" onclick="pjax.loadUrl('/communities')">Community Manager</button>
    <button type="button" class="btn btn-primary">Services</button>
    <button type="button" class="btn btn-primary" onclick="pjax.loadUrl('/audit')">Admin Audit Log</button>
</div>