<div class="navbar navbar-inverse">
    <span>Aquamarine Admin Panel</span>
    <a type="button" href="javascript:void(0)" onclick="pjax.loadUrl('/')">Overview (Homepage)</a>
    <a type="button" href="javascript:void(0)" onclick="pjax.loadUrl('/accounts')">Account Manager</a>
    <a type="button" href="javascript:void(0)" onclick="pjax.loadUrl('/communities')">Community Manager</a>
    <a type="button" href="javascript:void(0)" onclick="pjax.loadUrl('/audit')">Admin Audit Log</a>
</div>