<%- include("./partials/header.ejs") %>

  <body>
    <%- include("partials/navbar.ejs") %>
      <div class="alert alert-success" role="alert" style="display: none;">
        <strong>Community Created!</strong>
        <span>StreetPass Plaza</span>
      </div>

      <div class="alert alert-info" role="alert" style="display: none;">
        <strong>Community Edited!</strong>
        <span>StreetPass Plaza</span>
      </div>
      <div class="wrapper center">
        <div style="width: 50%;">
          <form>
            <div class="form-row">
              <div class="col">
                <label>Community Name</label>
                <input id="name" type="text" class="form-control" placeholder="Community Name..">
              </div>
              <div class="col">
                <label>Description</label>
                <textarea id="desc" type="text" class="form-control" placeholder="Description.."></textarea>
              </div>
              <div class="col">
                <label>App Data</label>
                <input id="app_data" type="text" class="form-control" placeholder="App Data..">
              </div>
              <div class="col">
                <label>Parent Community ID</label>
                <input id="parent_community_id" type="text" class="form-control" placeholder="Parent Community ID..">
              </div>
              <div class="col">
                <label>PID</label>
                <input id="pid" type="text" class="form-control" placeholder="PID..">
              </div>
              <div class="col">
                <label>Title ID's (Hexadecimal to Decimal) [TID, TID, TID]</label>
                <input id="title_ids" type="text" class="form-control" placeholder="Title ID's.. [TID, TID, TID]">
              </div>
              <div class="col">
                <label>In-Game Posting Only</label>
                <input id="ingame_only" type="text" class="form-control" placeholder="In-Game Posts Only (0, 1)">
              </div>
              <div class="col select">
                <select name="platform" id="platform" autocomplete="off">
                  <option value="wiiu">Wii U</option>
                  <option value="3ds">Nintendo 3DS</option>
                  <option value="both">Both</option>
                  <option value="vc">Virtual Console</option>
                  <option value="topic">Topic</option>
                  <option value="wii">Wii</option>
                </select>
                <select name="type" id="type" autocomplete="off">
                  <option value="main">Main Community</option>
                  <option value="sub">Subcommunity</option>
                  <option value="normal">Normal Community</option>
                  <option value="announcement">Announcement Community</option>
                </select>
                <select name="post_type" id="post_type" autocomplete="off">
                  <option value="text">Text Only</option>
                  <option value="memo">Memo Only</option>
                  <option value="all">All</option>
                </select>
              </div>

              <div class="select">
                <div style="margin-bottom: 15px;">
                  <label for="icon" style="text-align: center; width: 100%;">Community Icon 128x128/72x72</label>
                  <input id="icon" type="file" class="custom-file-input" autocomplete="off">
                </div>

                <div style="margin-bottom: 30px;">
                  <label for="banner" style="text-align: center; width: 100%;">Community Banner (CTR) 400x168</label>
                  <input id="banner-ctr" type="file" class="custom-file-input" autocomplete="off">
                </div>

                <div style="margin-bottom: 30px;">
                  <label for="banner" style="text-align: center; width: 100%;">Community Banner (WUP) 1280x180</label>
                  <input id="banner-wup" type="file" class="custom-file-input" autocomplete="off">
                </div>
              </div>
            </div>
          </form>

          <div class="center">
            <button type="button" class="btn btn-secondary" style="margin-right: 20px;"
              onclick="history.back()">Cancel</button>
            <button type="button" class="btn btn-success" onclick="submitNewCommunity()">Create</button>
          </div>
        </div>
      </div>
  </body>

  </html>