<%- include("./partials/header.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="alert alert-success" role="alert" style="display: none;">
                <strong>Community Created!</strong>
                <span>StreetPass Plaza</span>
            </div>

            <div class="alert alert-info" role="alert" style="display: none;">
                <strong>Community Edited!</strong>
                <span>StreetPass Plaza</span>
            </div>
            <div class="wrapper">
                <div class="header">
                    Creating New Account
                </div>
            </div>

            <div class="wrapper center">
                <div style="width: 50%;">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <input id="pid" type="text" class="form-control" placeholder="Account PID..">
                            </div>
                            <div class="col">
                                <input id="nnid" type="text" class="form-control" placeholder="Account NNID..">
                            </div>
                            <div class="col">
                                <input id="mii" type="text" class="form-control" placeholder="Mii Data..">
                            </div>
                            <div class="col">
                                <input id="mii_name" type="text" class="form-control" placeholder="Mii Name..">
                            </div>
                            <div class="col">
                                <input id="mii_hash" type="text" class="form-control" placeholder="Mii Hash..">
                            </div>
                            <div class="col">
                                <textarea id="bio" type="text" class="form-control" placeholder="Bio.."></textarea>
                            </div>
                            <div class="col">
                                <input id="admin" type="text" class="form-control" placeholder="Admin (0, 1)">
                            </div>
                            <div class="col">
                                <input id="tester" type="text" class="form-control" placeholder="Tester (0, 1)">
                            </div>
                            <div class="col">
                                <input id="banned" type="text" class="form-control" placeholder="Banned (0, 1)">
                            </div>
                            <div class="col">
                                <input id="3ds_service_token" type="password" class="form-control"
                                    placeholder="3DS Service Token (First 42 Chars)">
                            </div>
                            <div class="col">
                                <input id="wiiu_service_token" type="password" class="form-control"
                                    placeholder="Wii U Service Token (First 42 Chars)">
                            </div>
                            <div class="col">
                                <input id="game_experience" type="text" class="form-control"
                                    placeholder="Game Experience (0, 1, 2)">
                            </div>
                            <div class="col">
                                <input id="language" type="text" class="form-control"
                                    placeholder="Language Code (2 Character Lowercase)">
                            </div>
                            <div class="col">
                                <input id="country" type="text" class="form-control"
                                    placeholder="Country Code (2 Character Uppercase)">
                            </div>
                            <div class="col">
                                <input id="favorite_post" type="text" class="form-control" placeholder="Favorite Post">
                            </div>
                            <div class="col">
                                <input id="relationship_visible" type="text" class="form-control"
                                    placeholder="Relationship Visible">
                            </div>
                            <div class="col">
                                <input id="allow_friend" type="text" class="form-control" placeholder="Allow Friend">
                            </div>
                            <div class="col">
                                <input id="empathy_notification" type="text" class="form-control"
                                    placeholder="Empathy Notification">
                            </div>
                            <div class="col">
                                <input id="community_settings" type="text" class="form-control"
                                    placeholder="Community Settings">
                            </div>
                            <div class="col select">
                                <select name="pronouns" id="pronouns" autocomplete="off">
                                    <option value="he/him">he/him</option>
                                    <option value="she/her">she/her</option>
                                    <option value="he/she">he/she</option>
                                    <option value="they/them">they/them</option>
                                    <option value="he/they">he/they</option>
                                    <option value="she/they">she/they</option>
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="center">
                        <button type="button" class="btn btn-secondary" style="margin-right: 20px;"
                            onclick="history.back()">Cancel</button>
                        <button type="button" class="btn btn-success" onclick="submitNewAccount()">Create
                            Account</button>
                    </div>
                </div>
            </div>
    </body>

    </html>