<%- include("./partials/header.ejs") %>

<body>
    <%- include("./partials/navbar_login") %>

    <div class="log_in_wrapper">
        <h1 class="log in">Aquamarine Admin - Login</h1>
        <p class="log in">Log in to the Aquamarine admin panel.</p>
        <input name="network_id" type="text" maxlength="32" placeholder="Nintendo Network ID..">
        <input name="password" type="password" placeholder="Password..">
        <button type="button" class="btn btn-large btn-primary" onclick="log_in()">Log In</button>
    </div>
</body>