<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="wrapper">
        <span class="error_text">Error 404 (Not Found)</span>
        <span class="error_description">The page requested couldn't be found.</span>
    </div>
</body>

</html>