<%- include("../partials/header.ejs") %>

<body>
    <%- include("../partials/navbar.ejs") %>
    <div class="wrapper">
        <span class="error_text">Error!</span>
        <span class="error_description">You do not have permission to view this page.</span>
    </div>
</body>

</html>